*{
    margin: 0;
    padding: 0;
}
.section_wrapper{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}
#landingWrapper{
    /*margin-left: -4px;*/
    background-image: url("../Assets/bg.svg");
    background-size: cover;
}
nav{
    background-color: transparent;
    box-shadow: none;
}
nav li a{
    color: #689f38;
    font-size: 20px;
}
nav li>a:hover{
    color: #33691e;
}
.brand-logo img{
    width: 300px;
    height: 85px;
}
@media (min-width: 768px) {
    .brand-logo{
        margin-left:30px;
    }
}
.logoWrap{
    max-height: 10%;
    max-width: 35%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.caretWrap{
    margin: 5px;
    position: absolute;
    width: 50px;
    height:50px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,50%);
}
.caretWrap :hover{
    transition: transform 1s ease-out;
    transform: translateY(-50%);
}