*{
    margin: 0;
    padding: 0;
}
.section_wrapper{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}
#landingWrapper{
    /*margin-left: -4px;*/
    background-image: url("../Assets/bg.gif");
    background-size: cover;
}
nav{
    background-color: transparent;
    box-shadow: none;
}
nav li a{
    color: #689f38;
    font-size: 20px;
}
nav li>a:hover{
    color: #33691e;
}
.brand-logo img{
    width: 300px;
    height: 85px;
}
@media (min-width: 768px) {
    .brand-logo{
        margin-left:30px;
    }
    .lImg img{
        max-width: 40%;
    }
    #ieeecs_wrap{
        position: relative;
        height:230px;
    }
    #ieeecs{
        position: absolute;
        top: 65%;
        right: 20px;
        height: 0;
        z-index:11;
    }
}
.logoWrap{
    max-height: 10%;
    max-width: 35%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.caretWrap{
    margin: 5px;
    position: absolute;
    width: 50px;
    height:50px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,50%);
}
.caretWrap :hover{
    transition: transform 1s ease-out;
    transform: translateY(-50%);
}
.footer_wrapper{
    background-color: #212121;
    margin: 0;
    /*height: inherit;*/
}
.footerMember{
    height: 100px;
    width: 150px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.social{
    display: inline-block;
    margin-left: 10px;
    background-color:#434343;
    height: 25px;
    width: 25px;
}
.social i{
    font-size: 24px;
    color: black;
}
.social:hover{
    transition: background-color 0.5s;
    background-color:#689f38;
}
#blog{
    margin-top: -10px;
}
.button-collapse i{
    color:#689f38;
}
p,a{
    font-family: 'Montserrat', sans-serif;
}
/*
.Team_RoverX_is_a_group_of_young__enthusiastic_i {
    font-size: 54.167px;
    font-family: "Montserrat";
    color: rgb(63, 63, 63);
    text-align: left;
    position: absolute;
    left: 305.934px;
    top: 2572.77px;
    width: 2323px;
    height: 961px;
    z-index: 22;
}
.Rovers {
    font-size: 50px;
    font-family: "Montserrat";
    color: rgb(106, 188, 0);
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 1353.938px;
    top: 114.912px;
    z-index: 10;
}
.Team_RoverX_is_a_group_of_young__enthusiastic_i {
    font-size: 54.167px;
    font-family: "Montserrat";
    color: rgb(63, 63, 63);
    text-align: left;
    position: absolute;
    left: 305.934px;
    top: 2572.77px;
    width: 2323px;
    height: 961px;
    z-index: 22;
}
.About_ROVERX {
    font-size: 79.167px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    -moz-transform: matrix( 0.68599157000907,0,0,0.68599157000907,0,0);
    -webkit-transform: matrix( 0.68599157000907,0,0,0.68599157000907,0,0);
    -ms-transform: matrix( 0.68599157000907,0,0,0.68599157000907,0,0);
    position: absolute;
    left: -40.944px;
    top: -51.097px;
    z-index: 1;
}
*/

